################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lab1/.vs/Lab1/v15/Server/sqlite3
/.vs/HW1/v15/Server/sqlite3/db.lock
/ConsoleApp1/.vs/ConsoleApp1/v15/Server/sqlite3/db.lock
/HW2/.vs/HW2/v15/Server/sqlite3/db.lock
/ConsoleApp2/.vs/Lab2CalculateBattingAverage/v15/Server/sqlite3/db.lock
/.vs/Lab2CalculateBattingAverage/v15/Server/sqlite3/db.lock
/GCD finder/.vs/GCD finder/v15/Server/sqlite3/db.lock
/Arrays/.vs/Arrays/v15/Server/sqlite3/db.lock
/Lab Reverse Array/.vs/Lab Reverse Array/v15/Server/sqlite3/db.lock
/.vs/LargestSmallest/v15/Server/sqlite3/db.lock
/Find the Max and Min/.vs/Find the Max and Min/v15/Server/sqlite3/db.lock
